/.DS_Store
/31-07-22_21-28-55.json
/Problematic_Datasets_timestamp_differences.csv
/dataset
/problematic_video_folder_info.csv
/scenario_info.csv
/scenario_info_frames_comp.csv
/timestamp_differences.csv
/timestamp_differences_problematic.csv
/timestamp_frame_count.csv
/timestamp_frame_count_completed.csv
/timestamps_bad
/timestamps_good
/video_folder_info.csv
/video_folder_info_raw_data.csv
/~$SI_ESCOOTER_SD_OVERVIEW.docx
/tasi-venv
/src_raw_data
/lidar_sync_folders
/click_based_scenarios
/temp
data_processing_scripts/click_based_scenario_extraction/temp_copy_folder/*
